<html>
    <head> Test </head>
    <meta charset="utf-8">
    <title> Test </title>
    <body>
        <form action="/EN_Register" method="post">
            {% csrf_token %}
            enci: <input type="text" name="enci"><br>
            pci: <input type="text" name="pci"><br>
            longitude: <input type="text" name="longitude"><br>
            latitude: <input type="text" name="latitude"><br>
            height: <input type="text" name="height"><br>
            azimuth: <input type="text" name="azimuth"><br>
            <input type="submit" value="提交">>
        </form>
        <form action="/UE_Reg" method="post">
            {% csrf_token %}
            msisdn: <input type="text" name="msisdn"><br>
            base_station_id: <input type="text" name="base_station_id"><br>
            imsi: <input type="text" name="imsi"><br>
            <input type="submit" value="提交">>
        </form>
    </body>

</html>